*{
    color: white;

}
.head-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.middle-options{
    display: flex;
    gap: 50px;
}



/* HERO CONTAINER */

.hero-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
}

.hero-img{
    height: 400px;
    width: 600px ;
    object-fit: cover;
    border-radius: 20px;
}

button{
    background-color: #a59a83;
    color: white;
    height: 40px;
    width: 100px;
    border: none;
    padding: 10px;
    cursor: pointer;

}

.left-button{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
   
}

.right-button{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left:2px solid black ;
}
